@charset "utf-8";
/* CSS Document */

/*==============banner================*/
#banner #bantop{
	height:500px;}
#banner #bantop	#box{
        	width: 100%;
        	height: 500px;
        	overflow: hidden;
        	position: relative;
        	/*box-shadow: #242424 0px 0px 10px;*/
		}
#banner #bantop #wrap{
        	width: 100%;
        	height: 500px;
        	position: absolute;
            left: 0;
        }
        
#banner #bantop #wrap>li,#wrap>li img{
        	width: 100%;
        	height: 500px;
        }
#banner #bantop #wrap>li {
        	transition :opacity 1s;
        	position: absolute;
     
        }
       /* 底部圆圈按钮*/
#banner #bantop #btn{
        	z-index: 2;
        	height: 20px;
        	position: absolute;
        	bottom: 1%;
        	left:46%;
        	margin-left: -50px;
        	cursor: pointer;
        }
#banner #bantop #btn>li{
        	width:20px;
        	height: 100%;
        	margin:0 5px;
        	float: left;
        	border-radius: 50%;	
        }
#banner #bantop .ccc{
        	background: #ccc;
        }
#banner #bantop .black{
        	background: #000;
        }
       /* 左右按钮*/
#banner #bantop span{
        	position: absolute;
        	top:50%;
        	display: block;
        	width :50px;
        	height: 80px;
        	background:#242424;
        	margin-top:-40px;
        	z-index: 23;
        	color: #fff;
        	font-size: 30px;
        	line-height: 80px;
        	text-align: center;
        	cursor: pointer;
        	display: none;
        	
        }
#banner #bantop #left{
        	left:0;
        }
#banner #bantop #right{
        	right: 35px;
        }



#banner #banbot{
	background:#f8f8f8;}
#banner .w ul{
	height:56px; 
	line-height:56px;}
#banner .w ul li{
	display:inline-block;
	height:30px; 
	padding-left:128px; 
	padding-right:98px; 
	text-align:center; 
	line-height:30px; 
	font-size:16px; 
	border-right:1px solid #dedede;}
#banner .w ul li.one{
	background:url(../images/%E6%9C%AA%E6%A0%87%E9%A2%98-1.png) no-repeat 88px 0;}
#banner .w ul li.two{
	background:url(../images/2.png) no-repeat 88px 0;}
#banner .w ul li.three{
	background:url(../images/%E6%9C%AA%E6%A0%87%E9%A2%98-2.png) no-repeat 88px 0;}
#banner .w ul li.four{
	background:url(../images/%E6%9C%AA%E6%A0%87%E9%A2%98-3.png) no-repeat 88px 0; 
	border:0;}

/*==============limit-buy================*/
#limit-buy{
	height:380px; 
	margin-top:50px;}
#limit-buy p.tit{
	height:30px; 
	font-size:20px; 
	font-weight:bold; 
	background:url(../images/%E6%9C%AA%E6%A0%87%E9%A2%98-5.png) no-repeat 5px 5px; 
	padding-left:40px; 
	line-height:30px;}
p.tit span.title{
	font-weight:100;
	padding-right:20px; 
	background: url(../images/jiantou.png) no-repeat 50px 6px;}
#limit-buy .slide{
	height:260px;
	margin-top:30px;
	position:relative;}	
#limit-buy .slide .left{
	height:200px;
	width:600px;
	position:absolute;
	left:0;
	top:0;}
#limit-buy .slide .left .cover1{
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:600px;
	height:200px;
	background:#000;
	opacity:0.3;
	filter:alpha(opacity=30);}
#limit-buy .slide .left img{
	height:200px;
	width:600px;}
#limit-buy .slide .left .before{
	width:45px;
	height:80px;
	background:url(../images/ff6e07b382c6b974faa5b4cee2f0c49b.png) -320px -138px;
	position:absolute;
	top:60px;
	left:0;
	z-index:10;}															
#limit-buy .slide .right{
	height:200px;
	width:600px;
	position:absolute;
	left:600px;
	top:0;}
#limit-buy .slide .right .cover2{
	position:absolute;
	left:0;
	top:0;
	display:block;
	width:600px;
	height:200px;
	background:#000;
	opacity:0.3;
	filter:alpha(opacity=30);}
#limit-buy .slide .right img{
	height:200px;
	width:600px;}
#limit-buy .slide .right .after{
	width:45px;
	height:80px;
	background:url(../images/ff6e07b382c6b974faa5b4cee2f0c49b.png) -366px -138px;
	position:absolute;
	top:60px;
	right:0;
	z-index:10;}															
#limit-buy .slide .middle{
	height:260px;
	width:600px;
	position:absolute;
	left:300px;
	top:-30px;
	z-index:1;}									
#limit-buy .timeout{
	margin:10px auto;
	height:73px;
	width:388px;
	background:url(../images/99497957ce2e3e0c500bb3ac461bfd9f.png) no-repeat;
	text-align:center;
	font-size:24px;
	color:#fff;
	line-height:70px;}				
					
/*==============list===============*/
#list{
	height:930px; 
	margin-top:50px;}
#list p.tit{
	height:30px; 
	font-size:20px; 
	font-weight:bold; 
	background: url(../images/heart.png) no-repeat 5px 5px; 
	padding-left:40px; 
	line-height:30px;}
#list .one div.l{
	height:289px; 
	width:353px; 
	background: url(../images/96ff898d2be07cba4cefba818af15804.png) no-repeat; 
	margin-top:10px;}
#list .two div.l{
	height:289px; 
	width:353px; 
	background: url(../images/6724f7cb998030a5ec2e7462a3303f6b.png) no-repeat; 
	margin-top:10px;}
#list .three div.l{
	height:289px; 
	width:353px; 
	background: url(../images/6ce496ed576337bd2f1a867667e5eb95.png) no-repeat; 
	margin-top:10px;}
#list .one div.l div.top,#list .two div.l div.top,#list .three div.l div.top{
	height:140px; 
	width:346px; 
	margin:30px auto; 
	padding:0 30px; 
	background: url(../images/cfadc39200082fb2e4629860189febfa.png) no-repeat; 
	font-size:20px; 
	color:#000; 
	text-align:center; 
	line-height:140px;}
#list .one div.l div.bottom,#list .two div.l div.bottom,#list .three div.l div.bottom{
	height:24px; 
	padding:0 50px;}
#list .one div.l div.bottom span,#list .two div.l div.bottom span,#list .three div.l div.bottom span{
	font-size:16px; 
	color:#fff; 
	padding:0 10px;}
#list  ul li:hover{opacity:0.8;background:pink;}
#list .one ul.l,#list .two ul.l,#list .three ul.l{
	height:289px; 
	margin-top:10px; 
	margin-left:5px;}
#list .one ul.l li,#list .two ul.l li,#list .three ul.l li{
	border:1px solid #CCC;}
#list .one ul.l li a,#list .two ul.l li a,#list .three ul.l li a{
	display:block; 
	height:289px; 
	width:205px; 
	padding:15px;}
#list .one ul.l li.one,#list .one ul.l li.two,#list .one ul.l li.three{
	border-right:0;} 
#list .two ul.l li.one,#list .two ul.l li.two,#list .two ul.l li.three{
	border-right:0;} 
#list .three ul.l li.one,#list .three ul.l li.two,#list .three ul.l li.three{ 																																 	border-right:0;} 
#list .one ul.l li a img,#list .two ul.l li a img,#list .three ul.l li a img{
	width:170px; 
	height:170px; 
	margin:0 auto;}
#list .one ul.l li a p.one,#list .two ul.l li a p.one,#list .three ul.l li a p.one{
	width:170px; 
	height:42px; 
	margin-top:5px; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	line-height:21px; 
	font-size:14px;}
#list .one ul.l li a p.two,#list .two ul.l li a p.two,#list .three ul.l li a p.two{ 	 	
	color:#cc3333; 
	font-weight:bold; 
	height:25px; 
	margin-top:10px; 
	font-size:16px;}
#list .one ul.l li a p.two span,#list .two ul.l li a p.two span,#list .three ul.l li a p.two span{
	font-size:12px; 
	color:#999; 
	margin-top:3px;}

/*==============yanghuo===============*/
#yanghuo{
	margin-top:50px;
	height:830px;}
#yanghuo p.tit{
	height:30px; 
	font-size:20px; 
	font-weight:bold; 
	background: url(../images/yanghuo.png) no-repeat 5px 5px; 
	padding-left:40px; 
	line-height:30px;}
#yanghuo ul.out li.all{
	margin:10px 3px 0 3px;}				
#yanghuo ul.out li.all a{
	display:block; 
	width:392px; 
	height:209px;}
#yanghuo ul.out li.all a img{
	width:390px; 
	height:209px;}
#yanghuo ul.out li.all ul.in {
	width:390px;
	height:183px;
	border:1px solid #ccc;
	border-top:0;
	padding:10px 0 5px 0;}
#yanghuo ul.out li.all ul.in a{
	display:block;
	height:160px;
	width:120px;
	margin:5px 4px;}
#yanghuo ul.out li.all ul.in a img{
	height:120px;
	width:120px;}
#yanghuo ul.out li.all ul.in p.one{
	height:18px;
	width:120px;
	overflow:hidden; 
	text-overflow:ellipsis;
	white-space:nowrap;
	line-height:18px;
	font-size:14px;}
#yanghuo ul.out li.all ul.in p.two{
	color:#cc3333;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	height:24px;
	width:120px;
	line-height:24px;}

/*==============sort===============*/
#sort{
	margin-top:50px;
	height:580px;}
#sort p.tit{
	height:30px; 
	font-size:20px; 
	font-weight:bold; 
	background: url(../images/sear.png) no-repeat 5px 5px; 
	padding-left:40px; 
	line-height:30px;}
#sort div.left{
	height:540px;
	margin-right:10px;
	margin-top:10px;}
#sort div.left div.one{
	height:170px;}
#sort div.left div.one img.left{
	height:170px; 
	width:305px;}
#sort div.left div.one div.title{
	width:639px; 
	height:6px;
	background:url(../images/03c8418b6410f09816ce86c41dd791ae.png) no-repeat; 
	position:relative;}
#sort div.left div.one div.title h2{
	width:163px; 
	height:18px; 
	font-weight:100; 
	text-align:center; 
	line-height:18px; 
	position:absolute; 
	left:244px; 
	top:-6px; 
	font-size:16px;}
#sort div.left div.one div.l ul li a{
	display:block; 
	height:140px; 
	width:120px; 
	margin:10px 10px 0 0;}
#sort div.left div.one div.l ul li a img{
	height:120px; 
	width:120px;}
#sort div.left div.one div.l ul li a p{
	height:18px; 
	margin-top:3px; 
	line-height:18px; 
	text-align:center;}
#sort div.right{
	margin-top:10px;}										
#sort div.right div.title1{
	height:9px; 
	width:229px; 
	position:relative;
	background:url(../images/ff26be807f0ba3a3d1ba3fb76b39bd5e.png) no-repeat;}
#sort div.right div.title1 h2{
	width:115px; 
	height:18px; 
	font-weight:100; 
	text-align:center; 
	line-height:18px; 
	position:absolute; 
	left:65px; 
	top:-6px; 
	font-size:16px;}
#sort div.right a{
	display:block; 
	width:234px; 
	height:45px; 
	margin-top:10px; 
	line-height:45px;
	padding:0 30px;
	overflow:hidden; 
	text-overflow:ellipsis;
	white-space:nowrap; 
	border-radius:20px 0 20px 0;
	background:#eee;
	font-size:14px;}


/*==============hot===============*/
#hot{
	margin-top:50px;
	height:410px;}
#hot p.tit{
	height:30px; 
	font-size:20px; 
	font-weight:bold; 
	background: url(../images/local.png) no-repeat 5px 5px; 
	padding-left:40px; 
	line-height:30px;}
#hot ul{
	height:369px;
	margin-top:10px;}
#hot ul li a{
	display:block; 
	height:369px; 
	width:290px; 
	position:relative;
	margin-right:10px;}
#hot ul li a div{
	height:0;}
#hot ul li a:hover div{
	transition:all .5s linear 0s;
	height:369px; 
	width:290px; 
	position:absolute; 
	background:rgba(0,0,0,0.7); 
	left:0; 
	top:0;}
#hot ul li a div span{
	display:none; 
	height:100px; 
	width:100px; 
	background:#c33; 
	font-size:20px; 
	color:#fff; 
	text-align:center; 
	line-height:100px; 
	margin:120px auto;
	border-radius:50%;}
#hot ul li a:hover span{
	display:block;}

/*==============logo===============*/
#logo{
	margin-top:30px; 
	overflow:hidden;}
#logo div.l{
	width:230px;
	height:300px;
	border:1px solid #CCC;
	background:#eee;
	padding:10px 10px 0 10px;
	text-align:center;
	margin:10px 3px;}
#logo div.l p.bottom{
	width:210px;
	height:40px;
	background:#cc3333;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:16px;
	opacity:0.5;
	filter:alpha(opacity=50);}
#logo div.l a{
	display:inline-block;
	width:91px;
	height:110px;
	background:#fff;
	margin:5px;
	overflow:hidden;}
#logo div.l a img{
	width:91px;
	height:91px;}
#logo div.l a img:hover{
	transform:rotate(360deg);
	transition:all .5s linear 0s;}					
#logo div.l a p{
	width:91px;
	height:18px;
	margin-top:1px;
	line-height:18px;
	text-align:center;}					
													
/*==============u-like===============*/
#u-like{
	height:1390px;
	margin-top:50px;}
#u-like p.tit{
	height:30px; 
	font-size:20px; 
	font-weight:bold; 
	background: url(../images/renao.png) no-repeat 5px 5px; 
	padding-left:40px; 
	line-height:30px;}
#u-like ul{
	height:1296px;
	margin-top:10px;}
#u-like ul li a{
	display:block; 
	border:1px solid #CCC; 
	padding:15px; 
	margin-right:5px; 
	height:314px; 
	width:232px; 
	margin-top:10px;}
#u-like ul li a:hover{
	box-shadow:0 0 5px 2px #c33;}	
#u-like ul li a p.one{
	height:42px; 
	line-height:21px; 
	font-size:14px; 
	overflow:hidden; 
	text-overflow:ellipsis; 
	margin-top:10px; 
	width:212px;}
#u-like ul li a p.two{
	width:212px; 
	height:27px; 
	margin-top:10px; 
	font-size:16px; 
	color:#cc3333; 
	font-weight:bold;}








































