@charset "utf-8";
/* CSS Document */
/*==============top================*/
#top #box2{
	height:90px;}
#top #box2 h1 a{
	display:inline-block;
	height:57px;
	width:102px;
	background:url(../images/84aee968a1da526ead19bed1f6bd63cf.png) no-repeat;
	margin-top:10px;}
#top #box2 h1 span{
	display:inline-block;
	font-size: 20px;
    color: #383838;
    margin-left: 30px;
	font-weight:100;
	vertical-align:middle;
	margin-bottom:30px;}
#top #box2 ul{
	height:36px;
	margin-top:30px;
	color:#}
#top #box2 ul li{
	height:36px;
	width:198px;
	text-align:center;
	line-height:36px;
	font-size:16px;}		
#top #box2 ul li:first-child{
	background:#c33;
	color:#fff;
	position:relative;}	
#top #box2 ul li:nth-child(2){
	background:#eee;
	color:#9b9b9b;
	position:relative;}	
#top #box2 ul li:nth-child(3){
	background:#eee;
	color:#9b9b9b;}	
#top #box2 ul li span{
	display:inline-block;
	width:20px;
	height:20px;
	border-radius:50%;
	margin-right:5px;
	background-color: #cecece;
    color: #f8f8f8;
    line-height: 20px;
    margin-right: 6px;
    text-align: center;}
#top #box2 ul li:first-child span{
	background:#fff;
	color:#c33;}
#top #box2 ul li:first-child input{
}
#top #box2 ul li:first-child i{
	display:block;
	width:0;
	height:0;
	border:18px solid #eee;
	border-left:18px solid #c33;
	position:absolute;
	top:0;
	right:-18px;}	
#top #box2 ul li:nth-child(2) i{
	position: absolute;
    right: -18px;
    top: 0;
	background:url(../images/0bd5b1b956d50faf757814791494bc6f.png) no-repeat -166px -79px;
    width: 18px;
    height: 36px;
	display:block;}	
#top #box3{
	height:30px;}	
#top #box3 span{
	display:block;
	height:28px;
	width:163px;
	border-bottom:2px solid #c33;
	line-height:28px;
	text-align:center;
	color:#c33;
	font-size:18px;
	font-weight:bold;}	
#top #p4{
	margin-top:10px;
	color:#9b9b9b;}	
#top #box5{
	margin-top:10px;
	height:40px;
	border:1px solid #ccc;
	padding:0 10px;}	
#top #box5 span{
	display:inline-block;
	hieght:38px;
	line-height:38px;}	
#top #box5 span:nth-child(1){
	width:120px;}	
#top #box5 span:nth-child(2){
	width:557px;}	
#top #box5 span:nth-child(3){
	width:130px;}	
#top #box5 span:nth-child(4){
	width:115px;}	
#top #box5 span:nth-child(5){
	width:115px;}	
#top #box5 span:nth-child(6){
	width:115px;}	
	
/*==============goodscart================*/
#goodscart .demo{
	overflow: hidden;
	width:100%
}
#goodscart .demo .tips{
	width: 100%;
	height:20px;
	margin-top: 20px;
	padding-left:12px;
	margin-bottom: 10px;
}
#goodscart .demo .tips input{
	vertical-align: middle;
}
#goodscart .demo .tips img{
	display: inline-block;
	width: 16px;
	height: 16px;
	vertical-align: middle;
	margin:0 10px;
}	
#goodscart .demo .tips a{
	font-size: 12px;
}	
#goodscart .demo ul li{
	height:120px;
	border: 1px solid #ccc;
	padding:10px;
}	
#goodscart .demo ul li img{
	width:80px;
	height:80px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
#goodscart .demo ul li div{
	display: inline-block;
	vertical-align: middle;
}	

#goodscart .demo ul li div span{
	display: inline-block;
	vertical-align: middle;
}
#goodscart .demo ul li .detail p{
	width:255px;
	margin-right:310px;
	margin-top: 15px;
	margin-left: 10px;

}	
	
#goodscart .demo ul li .detail p:nth-child(2) span{
	margin:0 10px;
}	
	
#goodscart .demo ul li span.value{
	display: inline-block;
	width:105px;
	height:100px;
	line-height: 100px;;
}
	
#goodscart .demo ul li div.moreless{
	width:80px;
	height:28px;
}	
#goodscart .demo ul li div.moreless .inleft,#goodscart .demo ul li div.moreless .inright{
	width:18px;
	height:28px;
	text-align: center;
	width: 18px;
	line-height: 28px;
	cursor: pointer;
	background: #ddd;
	border: 1px solid #ccc;
}	
#goodscart .demo ul li div.moreless .inmiddle{
	width:42px;
	height:28px;
	border: 1px solid #000;
	line-height: 28px;
	text-align: center;
	cursor: pointer;
}	
#goodscart .demo ul li i{
	display: inline-block;
	font-style: normal;
	width:180px;
	height:100px;
	line-height: 100px;;
	text-align: center;

}

#goodscart .demo ul li b{
	display: inline-block;
	font-weight: 100;
	width:100px;
	height:100px;
	line-height: 100px;
	text-align: left;
	cursor: pointer;

	
}	

/*==============bottom================*/
#bottom{
	position: fixed;
	width:100%;
	height:70px;
	border:1px solid #ccc;
	padding:0 20px;
	bottom:0;
	line-height:70px;
	background: #fff;
}

#bottom input{
	vertical-align: middle;
	margin-right: 5px;
}
	
#bottom span{
	margin:0 20px;
	cursor: pointer;
}	
	
#bottom span:nth-child(5){
	margin-left:700px;
}

#bottom span:nth-child(5) i{
	margin:0 5px;
	color: #CC3333;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
}

#bottom b{
	font-size: 18px;
	color: #c33;
}

#bottom em{
	display: inline-block;
	height:68px;
	width:100px;
	color: #fff;
	line-height: 68px;
	text-align: center;
	background: #ccc;
	font-style: normal;
	font-size: 16px;
	cursor: pointer;
}














